<!--
    Parameters:
    
    mainpage: Rendered HTML of the main page
    optionspage: Rendered HTML of the options page
    futurepate: Rendered HTML of the future page
-->

<!DOCTYPE html> 
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no"> 
	<title>C4 Parking</title>
    
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/jquerymobile.css"/>
    <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css"/>
    <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css" id='jQMnDTheme' />
    <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.blue.css" id='jQMnDColor' />
    <!--
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script defer src="/js/main.js"></script>
</head>
	
<body> 

{{ mainpage }}

{{ optionspage }}

{{ futurepage }}

</body>
</html>