{% extends "templates/html/subpages/basepage.html" %}
<!--
    Parameters:
    
    logout_url: string, URL for logging out
    enablereservations: Boolean, true if user can make reservations, false otherwise
    freespots: int, number of free spots
    totalspots: int, spots count
    reservablespots: int, number of free spots
-->

{% if enablereservations %}
{% block pageid %}future{% endblock %}

{% block header %}
        <a href="#main" class="ui-btn-left"><i class="icon-angle-left"></i></a>
        <h1>Future parking</h1>
{% endblock %}

{% block content %}
        {% if not reservablespots %}
        <div class="message error">
            <i class="icon-exclamation-sign"></i>
            <h2>No free spots left!</h2>
        </div>
        {% elif reservablespots == 1 %}
        <div class="message warning">
            <i class="icon-warning-sign"></i>
            <h2>Last spot!</h2>
        </div>
        {% else %}
        <div class="inset">
            <h2>Current future spots ({{ reservablespots }} free)</h2>
        </div>
        {% endif %}

        <progress value="{{ freespots }}" max="{{ totalspots }}"></progress>
		
        <div class="content-primary">
            <div class="inset"><!--nativeDroid workaround-->
                <ul data-role="listview" data-inset="true" id="futurespotlist">
                    <!-- Content is dynamically generated... -->
                </ul>
            </div>
		</div><!--/content-primary -->
        
        <form>
            <input id="reservespotnumber" type="hidden"></input>
            <input id="unreservespotnumber" type="hidden"></input>
        </form>
        
        <!-- Start of popup: #confirmunreserve -->
        <div data-role="popup" id="confirmunreserve" data-position-to="window">

            <div data-role="header" data-theme="b" style="padding-top: 5px;">
                <h1>Unreserve</h1>
            </div><!-- /header -->

            <div data-role="content" data-theme="b">
                <form>
                    <ul data-role="listview" data-inset="true">
                        <li class="ui-li ui-li-static ui-btn-up-b ui-last-child">
                            <fieldset class="ui-grid-a">
                                <legend style="width:auto">Are you sure you'd like to forfeit the reservation?</legend>
                                <div class="ui-block-a">
                                    <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" class="ui-submit ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all" aria-disabled="false">
                                        <span class="ui-btn-inner">
                                            <span class="ui-btn-text"><a href="#future" onclick="unreserve_spot();" data-inline="true">Free spot</a></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="ui-block-b">
                                    <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" aria-disabled="false">
                                        <span class="ui-btn-inner">
                                            <span class="ui-btn-text"><a href="#future" data-inline="true">Keep reservation</a></span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </li>
                    </ul>
                </form>
            </div><!-- /content -->
            
            <div data-role="footer">
                <h4>&nbsp;</h4>
            </div><!-- /footer -->
        </div><!-- /popup confirmunreserve -->

        <!-- Start of popup: #confirmreserve -->
        <div data-role="popup" id="confirmreserve" data-position-to="window">

            <div data-role="header" data-theme="b" style="padding-top: 5px;">
                <h1>Reservation</h1>
            </div><!-- /header -->

            <div data-role="content" data-theme="b">
                <form>
                    <ul data-role="listview" data-inset="true">
                        <li class="ui-li ui-li-static ui-btn-up-b ui-last-child">
                            <fieldset class="ui-grid-a">
                                <legend style="width:auto">Reserve spot for a guest?</legend>
                                <div style="width:auto" class="ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-b">
                                    <input type="text" id="reservecomments" placeholder="Comments (optional)"/>
                                </div>
                                <div class="ui-block-a">
                                    <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" class="ui-submit ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all" aria-disabled="false">
                                        <span class="ui-btn-inner">
                                            <span class="ui-btn-text"><a href="#future" onclick="reserve_spot();" data-inline="true">Reserve spot</a></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="ui-block-b">
                                    <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" aria-disabled="false">
                                        <span class="ui-btn-inner">
                                            <span class="ui-btn-text"><a href="#future" data-inline="true">Keep spot free</a></span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </li>
                    </ul>
                </form>
            </div><!-- /content -->
            
            <div data-role="footer">
                <h4>&nbsp;</h4>
            </div><!-- /footer -->
        </div><!-- /popup confirmreserve -->


{% endblock %}
{% block footer %}
        <div data-role="navbar">
            <ul>
                <li><a href="#options" data-icon="cogs">Options</a></li>
                <li><a href="{{ logout_url }}" data-icon="signout">Logout</a></li>
            </ul>
        </div>
{% endblock %}
{% endif %}