{% extends "templates/html/subpages/basepage.html" %}
<!--
    Parameters:
    
    logout_url: string, URL for logging out
    editablecars: list of cars belonging to current user
-->

{% block pageid %}options{% endblock %}
{% block header %}
        <a href="#main" class="ui-btn-left"><i class="icon-angle-left"></i></a>
		<h1>Options</h1>
{% endblock %}

{% block content %}
        <div class="inset">
                <ul data-role="listview" data-inset="true" id="carlist">
                    <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-first-child">Cars</li>
                    {% for car in editablecars %}
                    <li>
                        <a href="#addcar" data-rel="popup" data-transition="pop" onclick="fill('{{ car.prettyplate() }}','{{ car.make }}','{{ car.model }}','{{ car.color }}')">
                            <h3>{{ car.make }} {{ car.model }} // {{ car.color.title() }}</h3>
                            <p><strong>{{ car.prettyplate() }}</strong></p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            <form>
                <ul data-role="listview" data-inset="true">
                    <li>
                        <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="a" data-theme="b" data-disabled="false" class="ui-submit ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <a href="#addcar" data-rel="popup" data-transition="pop" onclick="fill('','','','White')" data-inline="true">
                                <span class="ui-btn-inner">
                                    <span class="ui-btn-text">
                                        <i class="icon-plus"></i>
                                        Add car...
                                    </span>
                                </span>
                            </a>
                        </div>
                        
                    </li>
                    <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-first-child">Appearance</li>
                    <li data-role="fieldcontain">
                        
                        <label for="theme-color" class="select">Theme Color</label>
                        <select onchange="update_theme();" name="theme-color" id="theme-color" data-native-menu="true">
                            <option {% if themecolor == 'blue' %}selected{% endif %} value="blue">Blue</option>
                            <option {% if themecolor == 'green' %}selected{% endif %} value="green">Green</option>
                            <option {% if themecolor == 'purple' %}selected{% endif %} value="purple">Purple</option>
                            <option {% if themecolor == 'red' %}selected{% endif %} value="red">Red</option>
                            <option {% if themecolor == 'yellow' %}selected{% endif %} value="yellow">Yellow</option>
                        </select>
                        
                    </li>
                </ul>
            </form>
        </div>
        
        <!-- Start of popup: #addcar -->
        <div data-role="popup" id="addcar" data-theme="b" data-position-to="window">

            <div data-role="header" data-theme="b"  style="padding-top: 5px;">
                <h1>Car details</h1>
            </div><!-- /header -->

            <div data-role="content" data-theme="b">
                <form>
                    <div style="width:auto" class="ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-b">
                        <input type="text" placeholder="License Plate" name="plate" id="plate" value="" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">
                    </div>
                    <div style="width:auto" class="ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-b">
                        <input type="text" placeholder="Make" name="make" id="make" value="" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">
                    </div>
                    <div style="width:auto" class="ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-b">
                        <input type="text" placeholder="Model" name="model" id="model" value="" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">
                    </div>
                    <div style="width:auto" class="ui-input-select ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-b">
                        <select name="color" id="color" data-native-menu="true">
                            <option value="white">White</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="turquoise">Turquoise</option>
                            <option value="black">Black</option>
                            <option value="red">Red</option>
                            <option value="gray">Gray</option>
                            <option value="silver">Silver</option>
                            <option value="brown">Brown</option>
                            <option value="yellow">Yellow</option>
                            <option value="orange">Orange</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </form>
                
                <div class="showastabs center nobg">
                    <a href="#" data-inline="true" data-role="button" data-icon="delete" onclick="delete_car();">Delete</a>
                    <a href="#" data-inline="true" data-role="button" data-icon="check" onclick="save_car();">Save</a>
                </div><!-- /footer -->
            </div><!-- /content -->
            
            
        </div><!-- /popup addcar -->
{% endblock %}
	
{% block footer %}
		<h4>&nbsp;</h4>
{% endblock %}